@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.block-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 25px;
    margin-bottom: 80px;
}

.block{
    width: 400px;
    height: 220px;
    background-color: #0E0B26;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.namemail{
    grid-gap: 20px;
    display: flex;
}

.contact-form
{


    display: block;
margin: auto;

}

.circle-icon{
    width: 80px;
    height: 80px;
    background: #EC9224;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.circle-icon i{
    color: white;
margin-top: 32%;
font-size: 30px;

}

.input-container {
    position: relative;
    width: 300px;
    margin: 20px;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Fond transparent */
    padding: 0 5px;
}

.input-container input {
    resize: vertical;
    width: 100%;
    padding: 10px;
}

.button_validation_inscription:hover {
background-color: rgb(158, 148, 16);
}


.button_validation_inscription {
    display: inline-block;
    
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    line-height: 3.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button_play {
    display: inline-block;
    background-color: rgb(180, 9, 199);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    line-height: 3.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(180, 9, 199);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button_play {
    display: inline-block;
    background-color: rgb(180, 9, 199);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    border: 0;
    line-height: 3.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(180, 9, 199);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
.email {
    width: 100px; 
    height: 50px; 
    
}

.espace-button{
    font-size:15px;
    font-family:Arial;
    width:30%;
    height:50px;
    color:#ffffff;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    cursor: pointer;
    background-color: #EC9224;
    
}

.espace-button:hover {
    background-color: #ec9224c5;
  }

textarea{
    width: 30%;height: 180px;background-color: #272645;
    border-style: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    background-color: #272645;
}
input {
    width: 16.9%;
    color: white;
    padding: 10px;
border-style: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    background-color: #272645;
}


input:hover {
    border: 2px solid #ff5733;
}
h1 {
    color: aliceblue;
    font-size: 50px;
    
}
.buttonN {
    
    border: 0;
    line-height: 3.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(180, 9, 199);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      
  }

  .buttonT {
    
    border: 0;
    line-height: 3.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(180, 9, 199);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      
  }
.couleur1 {
    color: aliceblue;
}
.container {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: #f0f0f0;
}

#sideInput {
    position: absolute;
    top: 50px;
    left: 20px;
}

.choix{
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}

.choix_diff_global{
    margin-left: 120px;
    margin-right: 60px;
    width: 30%;
}


.choixdiff123{
    display: flex;
    justify-content: center;
}

.choixdiff{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 60px;
}

.button_choixdiff{
    width: 75%;
    height: 60px;
    background-color: #EC9224;
    border-radius: 2px;
    border: none;
    color: #ffffff;
}

.choixtheme123{
    display: flex;
    justify-content: center;
}

.choixtheme{
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: 60px;

}

.button_choixtheme{
    width: 75%;
    height: 60px;
    background-color: #EC9224;
    border-radius: 2px;
    border: none;
    color: #ffffff;
}

.choix_theme_global{
    margin-right: 120px;
    width: 30%;
}

.button_choixtheme:hover{
    background-color: #ec9224cd;
}
.button_choixdiff:hover{
    background-color: #ec9224cd;
}

.button_choixtheme:active{
    border: 2 px red solid ;
}
.button_choixdiff:hover{
    background-color: #ec9224cd;
}