@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

body{
    font-family: 'Open Sans', sans-serif; ;
}
main{
    background-color: #151231;
}
body{
    color: aliceblue;
}

.img_stats{
    width: 530px;
    border-radius: 3px;
}

.stats{
    padding-left: 200px;
    display: flex;
}
.firststat{
    background-color: #3724a0;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    width: 200px;
    height: 100px;
    margin-right: 25px;
    padding-bottom: 40px;
    padding-top: 10px;
}
.secstat{
    background-color: #16a15f;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    width: 200px;
    height: 100px;
    padding-bottom: 40px;
    padding-top: 10px;

}

.topstats{
    padding-left: 40px;
    padding-bottom: 25px;
    display: flex;

}

.botstats{
    padding-left: 40px;
    display: flex;

}

.thirdstat{
    background-color: #b91ca8;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    width: 200px;
    height: 100px;
    margin-right: 25px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.fourthstat{
    background-color: #ec9123;
    padding: 25px;
    border-radius: 3px;
    text-align: center;
    width: 200px;
    height: 100px;
    padding-bottom: 40px;
    padding-top: 10px;

}

.quatrestats{
    font-size: 1.2em;
}

.triplepaysages{
    display: flex;
    padding-left: 200px ;
    padding-right: 200px;
}

.paysage1{
    height: 331.4px;
}

.paysage2et3{
    padding-left: 40px;
    display: flex;
}

.paysage2{
    height: 331.4px;
}

.paysage3{
    height: 331.4px; 
    padding-left: 40px;
}

.text123{
    display: flex;

    justify-content: center;
}

.text_number{
    display: flex;

}

.number{
    color: #3724a0;
    font-size: 22px;

}

.text{
    padding-left: 20px ;
    text-decoration: double;
    width: 300px;
}

h3{
    font-size: 25px;
}

.equipe123{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    justify-content: center;
    
}

.equipe{
    background-color: #0c0b26;
    margin: 15px;
    width: 450px;
    height: 400px;
    text-align: center;
}
img{
    display: inline-block;
}
.container{
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}