
.input-container {
    position: relative;
    width: 300px;
    margin: 20px;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Fond transparent */
    padding: 0 5px;
}

.input-container input {
    width: 100%;
    padding: 10px;
}
