@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.block-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    grid-gap: 25px;
    margin-bottom: 80px;
}

.block{
    width: 400px;
    height: 220px;
    background-color: #0E0B26;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.namemail{
    grid-gap: 20px;
    display: flex;
}

.contact-form
{


    display: block;
margin: auto;

}

.circle-icon{
    width: 80px;
    height: 80px;
    background: #EC9224;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}
.circle-icon i{
    color: white;
margin-top: 32%;
font-size: 30px;

}

.input-container {
    position: relative;
    width: 300px;
    margin: 20px;
}

.input-container label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7); /* Fond transparent */
    padding: 0 5px;
}

.input-container input {
    resize: vertical;
    width: 100%;
    padding: 10px;
}

.button_validation_inscription:hover {
background-color: rgb(158, 148, 16);
}


.button_validation_inscription {
    display: inline-block;
    background-color: #EC9224;
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}
.email {
    width: 100px; 
    height: 50px; 
    
}

.espace-button{
    font-size:15px;
    font-family:Arial;
    width:30%;
    height:50px;
    border-width:1px;
    color:#333333;
    border-color:#EC9224;
    font-weight:bold;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    box-shadow: 0px 1px 0px 0px #fff6af;
    text-shadow: 0px 1px 0px #ffee66;
    background:linear-gradient(#EC9224, #EC9224);
    cursor: pointer;
    
}

.espace-button:hover {
    background: linear-gradient(#fb900e, #fb900e);
  }

textarea{
    width: 30%;height: 180px;background-color: #272645;
    border-style: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    background-color: #272645;
}
input {
    width: 16.9%;
    color: white;
    padding: 10px;
border-style: none;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.2s;
    background-color: #272645;
}


input:hover {
    border: 2px solid #ff5733;
}

h1 {
    color: aliceblue;
    font-size: 50px;
    
}

.button_validation_inscription {
    margin-right: 350px; /* Décalage de 20 pixels vers la gauche */
    padding: 1%;
    width: 100px;
    height: 4%;
    border: none;
    color: #ffffff;
}



.container-forms{
    display: flex;
    grid-gap: 20px;
}

.passwordformcontainer{
width: 50%;

}

.divider {	
   
    display: table; 
    font-size: 24px; 
    text-align: center; 
    width: 0.1%; 	
    height: 250px;	
    background-color: #272645;				
    margin: 40px auto;			
}



.emailformcontainer{
width: 50%;
}

#contentContainer{
margin: 20px;
}










